.reveal .slides > section, 
.reveal .slides > section > section {
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.reveal pre {
    width: 100%;
    background-image: url("test1.jpg"); 
}
